<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .highlight {
        color: orange;
      }

      body {
        font-family: Roboto, sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- Mustache Syntax -->
    <!-- Task 1.1: name must be in orange color -->
    <h1>Hello, <span class="highlight">{{name}}</span> 😊</h1>
    <p>Your are super nice, {{name}}.</p>
    <!-- Task 1.2: List all hobbies - ul  -->
    <h2>Hobbies</h2>
    <ul>
      {% for hobby in hobbies %}

      <li>{{hobby}}</li>

      {% endfor %}
    </ul>
  </body>
</html>
