{% extends "base.html" %} {% block head_content %}
<style>
  body {
    min-height: 100vh;
    display: grid;
    /* place-content: center; */

    font-family: Roboto, sans-serif;
  }

  .movie-container {
    /* background: orange; */
    width: 400px;
  }

  .movie-poster {
    width: 100%;
    height: 500px;
    object-fit: cover;

    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .movie-spec {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .movie-summary {
    color: #7c6e6e;
  }

  /* .movie-list-container {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    gap: 16px;
    flex-wrap: wrap;
  } */
  .movie-list-container {
    padding: 24px;
    display: grid;
    /* RAM */
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    justify-items: center;
    gap: 24px;
  }
</style>

{% endblock %} {% block content %}
<section class="movie-list-container">
  {% for movie in movies %}
  <div class="movie-container">
    <img src="{{movie.poster}}" alt="{{movie.name}}" class="movie-poster" />
    <div class="movie-spec">
      <h2 class="movie-name">{{movie.name}}</h2>
      <h2 class="movie-rating">⭐ {{movie.rating}}</h2>
    </div>
    <p class="movie-summary">{{movie.summary}}</p>
  </div>
  {% endfor %}
</section>

{% endblock %}
